[FORMAT]
max-line-length=120
[MASTER]
load-plugins=pylint_junit
[REPORTS]
output-format=junit
[MESSAGES CONTROL]
disable=missing-module-docstring,useless-object-inheritance,logging-format-interpolation,missing-class-docstring,unnecessary-pass,raise-missing-from,oo-few-public-methods,super-with-arguments,too-few-public-methods
[BASIC]
good-names=id,ex,f
[DESIGN]
max-args=8
max-attributes=12
[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=6

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=no